body {
	background:url("/images/background_rideau_2.jpg") repeat;
        margin: 0;
	height:100%;
}

#block {
	background-color: white;
	margin:0px auto;
	width:1150px;
	min-height:100%;
	color: black;
	font-family: "URW Palladio L";
}

#block a {
	color: black;
}

#block h1 {
	text-align:center;
	color:#A60000;
	font-size: 30pt;
	padding-top:10px;
}

#block h2 {
	text-align:center;
	color:#D92A2A;
	font-size: 20pt;
	padding-top:10px;
}

#block h4 {
	text-align:center;
	color:#D92A2A;
	font-size: 12pt;
	padding-top:10px;
}

#block h2 b{
	color:black;
}

#block table caption {
	margin-bottom:5px;
	font-style:italic;
}

#block hr {
	margin-top:20px;
}

#block table {
	margin:0px auto;
}

#block table a {
	color:red;
}

#block form {
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
}

#block p {
	text-align:center;
}

.backlink {
	text-align:center;
	padding-top:0px;
	padding-bottom:15px;
}

.c1 {
	color:#A60000;
}

.c2 {
	color:#FF3500;
}

.c3 {
	color:#EA0037;
}

.c4 {
	color:#FF6400;
}

.c5 {
	color:#FF8100;
}

.c6 {
	color:#FFC000;
}

.error {
	color:red;
	font-style:italic;
}
